# Project Euler: Additional Practice

### Fibonacci Sequence

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [6]:
# Your Code Here

4613732

### Largest Palindrome

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [4]:
# your code here

906609

### Sum of Squares and Square of sums

The sum of the squares of the first ten natural numbers is,

12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,

(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [ ]:
# your code here

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.
Find the sum of all the primes below two million.

### Sum of Squares and Square of sums

The sum of the squares of the first ten natural numbers is,

12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,

(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [28]:
# Your Code Here

338350
5050
25164150

**2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.
What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?**

**By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
What is the 10 001st prime number?**

In [75]:
key_num = 0 
primes = []
start_num = 2
for i in range(start_num,200000):
    for x in range(2,i):
        if i%x ==0:
            break
    else:
        primes.append(i)
        start_num = i 
        if len(primes) == 10001:
            print i, 'is the 10001st prime #'
            key_num = i 
            break
            
        if len(primes)%100==0:
            print i, 'is prime number:', len(primes)
            
        #print i , 'is a prime'

541 is prime number: 100
1223 is prime number: 200
1987 is prime number: 300
2741 is prime number: 400
3571 is prime number: 500
4409 is prime number: 600
5279 is prime number: 700
6133 is prime number: 800
6997 is prime number: 900
7919 is prime number: 1000
8831 is prime number: 1100
9733 is prime number: 1200
10657 is prime number: 1300
11657 is prime number: 1400
12553 is prime number: 1500
13499 is prime number: 1600
14519 is prime number: 1700
15401 is prime number: 1800
16381 is prime number: 1900
17389 is prime number: 2000
18313 is prime number: 2100
19423 is prime number: 2200
20357 is prime number: 2300
21383 is prime number: 2400
22307 is prime number: 2500
23321 is prime number: 2600
24281 is prime number: 2700
25391 is prime number: 2800
26399 is prime number: 2900
27449 is prime number: 3000
28499 is prime number: 3100
29443 is prime number: 3200
30559 is prime number: 3300
31601 is prime number: 3400
32609 is prime number: 3500
33613 is prime number: 3600
34649 is prime number: 3700
35759 is prime number: 3800
36781 is prime number: 3900
37813 is prime number: 4000
38921 is prime number: 4100
39971 is prime number: 4200
41081 is prime number: 4300
42073 is prime number: 4400
43051 is prime number: 4500
44201 is prime number: 4600
45307 is prime number: 4700
46447 is prime number: 4800
47527 is prime number: 4900
48611 is prime number: 5000
49663 is prime number: 5100
50753 is prime number: 5200
51803 is prime number: 5300
52919 is prime number: 5400
53993 is prime number: 5500
55103 is prime number: 5600
56179 is prime number: 5700
57191 is prime number: 5800
58237 is prime number: 5900
59359 is prime number: 6000
60497 is prime number: 6100
61631 is prime number: 6200
62773 is prime number: 6300
63809 is prime number: 6400
65063 is prime number: 6500
66103 is prime number: 6600
67231 is prime number: 6700
68371 is prime number: 6800
69493 is prime number: 6900
70657 is prime number: 7000
71713 is prime number: 7100
72823 is prime number: 7200
73973 is prime number: 7300
75079 is prime number: 7400
76207 is prime number: 7500
77351 is prime number: 7600
78479 is prime number: 7700
79621 is prime number: 7800
80713 is prime number: 7900
81799 is prime number: 8000
82891 is prime number: 8100
84127 is prime number: 8200
85237 is prime number: 8300
86371 is prime number: 8400
87553 is prime number: 8500
88801 is prime number: 8600
89849 is prime number: 8700
90977 is prime number: 8800
92173 is prime number: 8900
93179 is prime number: 9000
94349 is prime number: 9100
95441 is prime number: 9200
96581 is prime number: 9300
97813 is prime number: 9400
98947 is prime number: 9500
100109 is prime number: 9600
101281 is prime number: 9700
102317 is prime number: 9800
103591 is prime number: 9900
104729 is prime number: 10000
104743 is the 10001st prime #

In [77]:
number = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [78]:
number

7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450L

In [80]:
num_str = str(number)
num_str

'7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450'

In [81]:
num_lst = [int(i) for i in num_str]

**The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.
Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?**

In [92]:
products = []
for n,v in enumerate(num_lst):
    four_list = []
    product = 1 
    for i in range(1,13):
        four_list.append(num_lst[n-i])
    four_list.append(v)
    for i in four_list:
        product *= i 
    products.append(product)
    #two_product = v *num_lst[n-1]
    #products.append(two_product)
print 'largest 13 digit product:', max(products)

largest 13 digit product: 23514624000

**A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,**

a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>
For example, 3<sup>2</sup> + 4<sup>2</sup> = 9 + 16 = 25 = 5<sup>2</sup>.

**There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.**

In [97]:
for a in range(1,1000):
    for b in range(a,1000):
        for c in range(b,1000):
            if a*a+b*b == c*c:
                #print a,b,c
                if a+b+c == 1000:
                    print a,b,c
                    print a*b*c
                    break

200 375 425
31875000

**The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:**

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

Let us list the factors of the first seven triangle numbers:

 1: 1
 3: 1,3
 6: 1,2,3,6
10: 1,2,5,10
15: 1,3,5,15
21: 1,3,7,21
28: 1,2,4,7,14,28
We can see that 28 is the first triangle number to have over five divisors.

**What is the value of the first triangle number to have over five hundred divisors?**

In [1]:
def div_finder(num):
    divs = [i for i in range(1,num+1) if num%i==0]
    return len(divs)

div_finder(24)

8

In [116]:
def divi_finder(num):
    divis = []
    div_len = 0 
    for i in range(1,num+1):
        if num%i ==0:
            divis.append(i)
    div_len = len(divis)
    return div_len
    #print 'divsors:', divis
    
divi_finder(24)

8

In [113]:
ex = [1,2,3]

sum(ex)

6

In [4]:
div_finder(100000000)

81

In [ ]:

divs = 0
tri_nums = [1]
nums = [] 
x = 4031120 
while divs < 200:
    x = x+1
    nums.append(x)
    tri = sum(nums)
    #divi_finder(tri)
    divs = div_finder(tri)
    if divs < 498:
        x = x*2
    if x%100==0:
        print 'x_value:', x
    #if x > 1000000:
        break
print tri
    
    
    
    
#for i in